# dependencies
**/node_modules/

# Expo
**/.expo/
**/dist/
**/web-build/

# Native builds
**/android/
**/ios/

# env
**/.env*.local

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo